

<% content_for :title, "Articles" %>

<h1 class="text-center mt-4">Articles</h1>
<div class="container"> 
<div id="articles">
 <%= render 'article_mini' %> 
  </div>
</div>

<%= link_to "New article", new_article_path %>
