
 <div class="container-lg text-center" id="jumbotron">
 
    <h1 class="display-5 fw-bold" id="logo">ALPHABLOG </h1>
    <p class="col fs-4">A light-weight blogging app developped with Ruby on Rails following <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/">The Complete Ruby on Rails Tutorial</a> on Udemy.</p>
</div> 


